@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content bg-black">
            <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark" data-bs-theme="dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Mods</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/posts">Posts</a>
                            </li>
                        </ul>
                        <a href="/Account/login" class="btn btn-outline-light d-flex align-items-center">
                            Login
                        </a>
                    </div>
                </div>
            </nav>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>